<!-- app/views/bookings/_form.html.erb -->
<%= form_with(model: booking) do |form| %>
  <div class="field">
    <%= form.label :client_id, "ID клиента" %>
    <%= form.number_field :client_id, required: true %>
  </div>

  <div class="field">
    <%= form.label :room_id, "ID номера" %>
    <%= form.number_field :room_id, required: true %>
  </div>

  <div class="field">
    <%= form.label :service_id, "ID услуги" %>
    <%= form.number_field :service_id, required: true %>
  </div>

  <div class="field">
    <%= form.label :check_in_date, "Дата заезда" %>
    <%= form.date_field :check_in_date, required: true %>
  </div>

  <div class="field">
    <%= form.label :departure_date, "Дата выезда" %>
    <%= form.date_field :departure_date, required: true %>
    <small class="hint">Дата выезда должна быть позже даты заезда.</small>
  </div>

  <div class="actions">
    <%= form.submit 'Сохранить', class: 'btn' %>
    <%= link_to 'Назад', bookings_path, class: 'btn' %>
    <%= link_to 'На главную', root_path, class: 'btn' %>
  </div>
<% end %>